<h1>Bonjour {{ username }},</h1>

<p>
    Vous avez fait une demande pour réinitialiser votre mot de passe.
    Pour suivre la procédure de réinitialisation, merci de continuer sur le même périphérique (Ordinateur, Téléphone).
</p>

<p>
    Vous pouvez changer votre Mot de Passe en cliquant sur le lien suivant : 
</p>

<p>
    <a href="{{ link_reset }}">Changer mon Mot de Passe</a>
    ({{ expiration_message }})
</p>