/**
 *
 * Style pour les polices d'écritures
 *      -   format TrueType
 *
*/


@font-face {
	font-family: 'Montserrat Light';
	src: url('../public/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Bold';
	src: url('../public/fonts/montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('../public/fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat Regular';
	src: url('../public/fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}
