/**
 *
 * Style pour le Menu de navigation de Gauche
 *
*/
.tooltip {
	background: #333;
	color: white;

	font-weight: bold;
	padding: 4px 8px;
	font-size: 13px;
	border-radius: 4px;

	display: none;

	position: absolute;
	left: 70px;

	z-index: 5;

	&[data-show] {
		display: block;
	}

	&[data-popper-placement^='top'] > .arrow {
		bottom: -4px;
	}

	&[data-popper-placement^='bottom'] > .arrow {
		top: -4px;
	}

	&[data-popper-placement^='left'] > .arrow {
		right: -4px;
	}

	&[data-popper-placement^='right'] > .arrow {
		left: -4px;
	}

	arrow,
	.arrow::before {
		position: absolute;
		width: 8px;
		height: 8px;
		z-index: -1;
	}

	.arrow::before {
		content: '';
		transform: rotate(45deg);
		background: #333;
	}
}


#left-navbar {
	min-height: 500px;
	height: 100%;
	width: var(--navbar-left-width);

	background-color: var(--navbar-color-bg);

	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0 30px;
	box-sizing: border-box;
	border-right: var(--navbar-left-border-width) solid var(--color-main-gray-05);

	z-index: 3;

	ul {
		width: var(--navbar-left-width);

		padding: 0;
		margin: 0;

		li {
			width: 100%;
			height: var(--navbar-left-width);

			background-color: transparent;

			padding: 0;
			margin: 30px 0;

			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.2s ease-in-out;

			a {
				width: 30px;
				padding: 0;
				margin: 0;
				transition: all 0.2s ease-in-out;
				fill: var(--navbar-left-color-icon);
				outline: 0;

				&:hover {
					transform: scale(1.07);
					cursor: pointer;
				}
			}

			&.active {
				transition: all 0.2s ease-in-out;
				background: linear-gradient(116.1deg, rgba(255, 255, 255, 0.51) 0%, rgba(255, 255, 255, 0) 100%),
				#1833ff;
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

				a {
					fill: white;
				}
			}
		}
	}
}
