<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="7.5" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value="50840dac08ccab46f15e59bd1ce0c2e5"/>
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -->
        <!-- env name="TRUSTED_HOSTS" value="'^(localhost|example\.com)$'" -->
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="5683596162a4c01da6c9bc66a2f02fff"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->

        <!-- ###+ nelmio/cors-bundle ### -->
        <env name="CORS_ALLOW_ORIGIN" value="^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$"/>
        <!-- ###- nelmio/cors-bundle ### -->

        <!-- ###+ symfony/mailer ### -->
        <!-- MAILER_DSN=smtp://localhost -->
        <!-- ###- symfony/mailer ### -->

        <!-- ###+ symfony/google-mailer ### -->
        <!-- Gmail SHOULD NOT be used on production, use it in development only. -->
        <!-- MAILER_DSN=gmail://USERNAME:PASSWORD@default -->
        <!-- ###- symfony/google-mailer ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <!-- Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url -->
        <!-- For an SQLite database, use: "sqlite:///%kernel.project_dir%/var/data.db" -->
        <!-- For a PostgreSQL database, use: "postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11&charset=utf8" -->
        <!-- IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml -->
        <env name="DATABASE_URL" value="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"/>
        <!-- ###- doctrine/doctrine-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="user-token-server">
            <directory>./tests/Controller/Api/User</directory>
            <directory>./tests/Controller/Api/Token/NewTokenControllerTest.php</directory>
            <directory>./tests/Controller/Api/Token/TokenControllerTest.php</directory>
            <directory>./tests/Controller/Api/Token/DeleteTokenControllerTest.php</directory>
            <directory>./tests/Controller/Api/Server/NewServerControllerTest.php</directory>
            <directory>./tests/Controller/Api/Server/UpdateServerControllerTest.php</directory>
            <directory>./tests/Controller/Api/Server/ServerByControllerTest.php</directory>
            <directory>./tests/Controller/Api/Server/ServersControllerTest.php</directory>
            <directory>./tests/Controller/Api/Server/DeleteServerControllerTest.php</directory>
            <directory>./tests/Controller/Api/Document/NewDocumentControllerTest.php</directory>
            <directory>./tests/Controller/Api/Document/DocumentByControllerTest.php</directory>
            <directory>./tests/Controller/Api/Document/DeleteDocumentControllerTest.php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
